{
  "semi": true,
  "arrowParens": "always",
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": false,
  "printWidth": 130,
  "jsxSingleQuote": true,
  "useTabs": true
}
