@use 'variables';
@use "quasar/dist/quasar.sass" as quasar;

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Text
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

.text-eclipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Background
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

.blur {
  backdrop-filter: blur(30px);
}

.no-background {
  background-color: transparent !important;
  backdrop-filter: none !important;
}


body {
  &.body--dark {
    .background-sm {
      background: variables.$dark-sm-background-color;
    }
  }

  &.body--light {
    .background-sm {
      background: variables.$light-sm-background-color;
    }
  }
}

body {
  &.body--dark {
    .background-md {
      background: variables.$dark-md-background-color;
    }
  }

  &.body--light {
    .background-md {
      background: variables.$light-md-background-color;
    }
  }
}

body {
  &.body--dark {
    .background-lg {
      background: variables.$dark-lg-background-color;
    }
  }

  &.body--light {
    .background-lg {
      background: variables.$light-lg-background-color;
    }
  }
}

body {
  &.body--dark {
    .background-xl {
      background: variables.$dark-xl-background-color;
    }
  }

  &.body--light {
    .background-xl {
      background: variables.$light-xl-background-color;
    }
  }
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Borders
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
.default-border {
  border: 2px solid red;
}

.success-border {
  border: 2px solid limegreen;
}

.default-border-radius {
  border-radius: 15px;
}

// Used for low opacity borders in tables
.body--dark {
  .fade-out-border {
    border-bottom: 1px solid quasar.$separator-dark-color;
  }
}

.body--light {
  .fade-out-border {
    border-bottom: 1px solid quasar.$separator-color;
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Shadows
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

.default-shadow {
  box-shadow: variables.$box-shadow;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Size
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
.inherit-all-height {
  min-height: inherit;
  max-height: inherit;
  height: inherit;
}
