@import 'variables';

/*
grid
*/
.container {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

/*
v-app
*/
.v-application {
	&.background {
		&.theme--dark {
			background: $dark-background-color;
		}
		&.theme--light {
			background: $light-background-color;
		}
	}
}

/*
v-sheet
*/

.v-sheet--outlined {
	&.theme--dark {
		@extend .default-border;
	}
	&.theme--light {
		@extend .default-border;
	}

	&.v-toolbar {
		&.theme--dark {
			background: $dark-dialog-background-color;
		}
		&.theme--light {
			background: $light-dialog-background-color;
		}
	}

	&.v-card--hover:hover {
		box-shadow: $box-shadow-hover;
	}
}

/*
v-data-table
*/
.v-data-table {
	.v-data-table--fixed-header {
		thead {
			th {
				background: transparent;
			}
		}
	}
	&.theme--dark, tbody tr.v-data-table__selected {
		@extend .no-background;
	}
	&.theme--light, tbody tr.v-data-table__selected {
		@extend .no-background;
	}
}

/*
v-dialog
*/

.v-dialog {
	border-radius: 15px;
	transition: 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
	@extend .default-border;
	@extend .default-shadow;

	.v-card {
		backdrop-filter: blur(30px);
		border-radius: 15px;
		&.theme--dark {
			background: $dark-dialog-background-color;
		}
		&.theme--light {
			background: $light-dialog-background-color;
		}
	}
}

/*
v-menu
*/
.v-menu__content {
	backdrop-filter: blur(30px);
	.v-list {
		&.theme--dark {
			background: $dark-dialog-background-color;
		}
		&.theme--light {
			background: $light-dialog-background-color;
		}
	}
}

/*
v-expansion-panels
*/
.v-expansion-panels {
	&.theme--dark {
		.v-expansion-panel {
			background: $dark-dialog-background-color;
			.v-data-table,
			.v-data-table--fixed-header thead th {
				@extend .no-background;
			}
		}
	}
	&.theme--light {
		.v-expansion-panel {
			background: $light-dialog-background-color;
			.v-data-table,
			.v-data-table--fixed-header thead th {
				@extend .no-background;
			}
		}
	}
}

.v-text-field--solo {
	&.theme--dark {
		.v-input__control > .v-input__slot {
			background: $dark-theme-glass-background;
		}
	}
}

/*
v-btn
*/
// Remove background color on button disabled
.theme--dark.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
	background-color: transparent !important;
}

// Remove background color on button disabled
.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
	background-color: transparent !important;
}
