@import 'variables';
@import '~vuetify/src/styles/styles.sass';

/*
pages/setup/index.vue
*/
#stepper-main {
	&.theme--dark {
		background: rgba(0, 0, 0, 0.8);
	}
	&.theme--light {
		background: rgba(255, 255, 255, 0.8);
	}
	.stepper-content {
		padding: 0;
		height: 600px;
	}
	.stepper-page {
		background: transparent;
		@extend .mb-12;
		@extend .px-3;
	}
}

/*
pages/downloads/index.vue
*/

.download-page-tables {
	// -8px is the margin/padding
	height: calc(100vh - #{$app-bar-height} - #{$download-page-bar-height} - 4px);
}
