@use 'variables';
@use 'lib/q-status';
@use 'lib/q-overwrite';
@use 'lib/q-components';
@use 'typography';
@use 'mixins';
@use 'animations.scss';
@use 'primevue/overwrite.scss';

/*
default
*/
html,
body {
  height: 100%;
  margin: 0;

  // Prevents unneeded vertical scroll bar on body/page level
  overflow-y: hidden;


}


a.link,
a.link:active,
a.link:focus,
a.link:visited {
  color: #ff7044;
  text-decoration: none
}

a.link:active:hover,
a.link:focus:hover,
a.link:hover,
a.link:visited:hover {
  color: red
}


/*
SectionTable
*/
.section-table {
  @extend .no-background;

  tr {
    height: 65px;
    // This is to disable the hover highlight
    @extend .no-background;
  }
}

/*
Layout
 */
.max-height-page-height-minus-app-bar {
  max-height: variables.$page-height-minus-app-bar;
}

.page-content-minus-media-overview-bar {
  max-height: variables.$page-height-minus-app-bar-minus-media-overview-bar;
}

.page-content-minus-download-bar {
  max-height: variables.$page-height-minus-app-bar-minus-download-bar;
}


