{
	"semi": true,
	"arrowParens": "always",
	"singleQuote": true,
	"endOfLine": "lf",
	"trailingComma": "all",
	"bracketSpacing": true,
	"vueIndentScriptAndStyle": false,
	"printWidth": 130,
	"tabWidth": 4,
	"jsxSingleQuote": true,
	"useTabs": true,
	"bracketSameLine": true
}
