@import 'variables';

/*
Background
*/
.glass-background-light {
	background: $light-background-color;
}

.glass-background-dark {
	background: $dark-theme-glass-background;
}

.blur {
	backdrop-filter: blur(30px);
}

.no-background {
	background-color: transparent !important;
}

.text-eclipse {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

body {
	&.body--dark {
		.extra-background {
			background-color: $dark-dialog-background-color;
		}
	}

	&.body--light {
		.extra-background {
			background-color: $light-dialog-background-color;
		}
	}
}

/*
Borders
*/
.default-border {
	border: 2px solid red;
}

.default-border-radius {
	border-radius: 15px;
}


.default-shadow {
	box-shadow: $box-shadow;
}
