@import 'variables';

/*
Background
*/
body {
	&.body--dark {
		.glass-background {
			background: $dark-theme-glass-background;
		}
	}

	&.body--light {
		.glass-background {
			background: $light-background-color;
		}
	}
}


.blur {
	backdrop-filter: blur(30px);
}

.no-background {
	background-color: transparent !important;
}

.text-eclipse {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

body {
	&.body--dark {
		.extra-background {
			background-color: $dark-dialog-background-color;
		}
	}

	&.body--light {
		.extra-background {
			background-color: $light-dialog-background-color;
		}
	}
}

/*
Borders
*/
.default-border {
	border: 2px solid red;
}

.success-border {
	border: 2px solid limegreen;
}

.default-border-radius {
	border-radius: 15px;
}


.default-shadow {
	box-shadow: $box-shadow;
}


/*
Sizing
*/

.inherit-all-height {
	min-height: inherit;
	max-height: inherit;
	height: inherit;
}
