// @import 'quasar/src/css/variables.sass';

$dark-background-color: rgba(0, 0, 0, 0.8);
$light-background-color: rgba(255, 255, 255, 0.8);

$dark-dialog-background-color: rgba(0, 0, 0, 0.4);
$light-dialog-background-color: rgba(255, 255, 255, 0.4);

$dark-theme-glass-background: rgba(255, 255, 255, 0.08);
$light-theme-glass-background: rgba(0, 0, 0, 0.08);

$box-shadow: 0px 11px 15px -7px rgba(255, 0, 0, 0.2), 0px 24px 38px 3px rgba(255, 0, 0, 0.14),
0px 9px 46px 8px rgba(255, 0, 0, 0.12);
$box-shadow-hover: 0px 0px 20px 3px rgba(255, 0, 0, 1);

$app-bar-height: 48px;
$download-page-bar-height: 64px;

/*
 * Quasar Variables
 */

$dark-shadow-color: rgba(0, 0, 0, 0.8);
$primary: #ff0000;
$q-dark: #ff0000;
