@import 'variables';

/*
PageContainer.vue
*/
.page {
	padding-top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}


/*
HelpIcon.vue
*/

.form-label {
	&.theme--dark {
		color: white;
	}

	&.theme--light {
		color: black;
	}

	font-size: 16px;
	line-height: 34px;
}

/*
P-btn.vue
*/

.p-btn,
.navigation-btn {
	&.filled {
		background-color: currentColor;
	}

	&.outlined {
		border: 2px solid currentColor;
	}

	&.theme--dark {
		color: red;
	}

	&.theme--light {
		color: darkred;
	}

	&:hover {
		&::before {
			opacity: 0.2 !important;
		}
	}
}


.poster-overview {
	height: calc(100vh - 85px - 48px - 24px);

	// 8% reserved for the media-overview-bar
	// height: 92%;
}

/*
VTreeViewTable.vue
*/
.v-tree-view-table {
	@extend .no-wrap;

	.v-tree-view-table-header {
		height: 48px;
		@extend .no-wrap;

		.select-all-check {
			padding-top: 22px;
			margin-left: 36px;
			margin-right: 10px;

			.v-input--selection-controls {
				padding: 0 0 0 2px !important;
				margin: 0 !important;
			}
		}
	}

	.title-column {
		min-width: 100px;
		max-width: 400px;
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.v-tree-view-table-body {
		&.detail-mode {
			// In order -> viewport -> topBar -> MediaOverviewBar -> DetailsOverviewHeader -> .media-table-header -> extra
			// height: calc(100vh - 48px - 85px - 250px - 40px - 8px);
		}

		.v-tree-view-table-row {
			.v-treeview-node {
				border-top: 0.888889px solid rgba(255, 255, 255, 0.377);
			}
		}

		.v-tree-view-table-content-row {
			@extend .ml-2;
			@extend .flex-nowrap;

			.v-sheet {
				// max-height: 24px;
			}
		}
	}
}

/*
ServerDrawer.vue
*/
.server-name {
	width: 190px;
	text-overflow: ellipsis;
}

.server-panels {
	z-index: 0;

	&.theme--dark {
		.v-expansion-panel {
			background: rgba(0, 0, 0, 0.3);
		}
	}

	&.theme--light {
		.v-expansion-panel {
			background: rgba(255, 255, 255, 0.3);
		}
	}
}

.ps {
	height: 100%;
	width: 100%;
}


/*
ValidIcon.vue
*/
.valid-icon {
	margin: 10px;
}
