@import 'variables';
@import 'lib/q-status';
@import 'lib/q-overwrite';
@import 'typography';
//@import './components.scss';
//@import './overwriting.scss';
//@import './pages.scss';

/*
default
*/
html {
	overflow-y: hidden;
}

/*
Nuxt-i18n
*/
.i18n-formatting {
	white-space: pre-line;
}

/*
SectionTable
*/
.section-table {
	@extend .no-background;

	tr {
		height: 65px;
		// This is to disable the hover highlight
		@extend .no-background;
	}
}
