@import 'variables';

//@import './components.scss';
//@import './overwriting.scss';
//@import './pages.scss';

/*
default
*/
html {
	overflow-y: hidden;
}

h1 {
	&.theme--dark {
		color: white;
	}

	&.theme--light {
		color: black;
	}

	text-align: center;
	padding: 10px 0;
}

h2 {
	&.theme--dark {
		color: white;
	}

	&.theme--light {
		color: black;
	}

	text-align: center;
	padding: 10px 0;
}

p {
	&.theme--dark {
		color: white;
	}

	&.theme--light {
		color: black;
	}

	font-size: 16px;
}

ul li {
	font-size: 16px;
	margin: 10px 0;
}

.no-background {
	background-color: transparent !important;
}

/*
general
*/
.glass-background {
	&.theme--dark {
		background: $dark-theme-glass-background;
	}

	&.theme--light {
		background: $light-background-color;
	}
}

.default-border {
	border: 2px solid red;
}

.default-shadow {
	box-shadow: $box-shadow;
}

.blur {
	backdrop-filter: blur(30px);
}

/*
Nuxt-i18n
*/
.i18n-formatting {
	white-space: pre-line;
}

/*
SectionTable
*/
.section-table {
	@extend .no-background;

	tr {
		height: 65px;
		// This is to disable the hover highlight
		@extend .no-background;
	}
}
