@import 'variables';
@import "lib/q-status";
@import "lib/q-overwrite";

//@import './components.scss';
//@import './overwriting.scss';
//@import './pages.scss';

/*
default
*/
html {
	overflow-y: hidden;
}

h1 {
	&.theme--dark {
		color: white;
	}

	&.theme--light {
		color: black;
	}

	text-align: center;
	padding: 10px 0;
}

h2 {
	&.theme--dark {
		color: white;
	}

	&.theme--light {
		color: black;
	}

	text-align: center;
	padding: 10px 0;
}

p {
	&.theme--dark {
		color: white;
	}

	&.theme--light {
		color: black;
	}

	font-size: 16px;
}

ul li {
	font-size: 16px;
	margin: 10px 0;
}


/*
Nuxt-i18n
*/
.i18n-formatting {
	white-space: pre-line;
}

/*
SectionTable
*/
.section-table {
	@extend .no-background;

	tr {
		height: 65px;
		// This is to disable the hover highlight
		@extend .no-background;
	}
}
