@import 'variables';
@import 'lib/q-status';
@import 'lib/q-overwrite';
@import 'lib/q-components';
@import 'typography';
@import 'mixins';
//@import './components.scss';
//@import './overwriting.scss';

/*
default
*/
// Prevents unneeded vertical scroll bar on body/page niveau
html {
	// overflow-y: hidden;
}

html,
body {
	height: 100%;
	margin: 0
}


/*
SectionTable
*/
.section-table {
	@extend .no-background;

	tr {
		height: 65px;
		// This is to disable the hover highlight
		@extend .no-background;
	}
}
