<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ReaparrRuntimeMode>desktop</ReaparrRuntimeMode>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishDir>bin/Publish/Desktop/win-x64/</PublishDir>
  </PropertyGroup>
</Project>
