name: Create PlexRipper Dev Container Release

on:
  workflow_dispatch:
  push:
    branches:
      - dev
    paths-ignore:
      - '.github/**'
      - '.idea/**'
      - '.run/**'
      - '.vscode/**'
      - '.releaserc.json'

jobs:
  # Build And Release Docker Image
  CreateDockerDevRelease:
    needs: [ call-workflow-semantic-release ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Publish to Registry with dev tag
        uses: elgohr/Publish-Docker-Github-Action@v5
        env:
          VERSION: ${{ env.RELEASE_VERSION }}
        with:
          name: plexripper/plexripper
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          buildargs: VERSION
          tags: "dev"
