name: Execute Tests

on:
    workflow_dispatch:
    pull_request:
        branches: [ dev ]
        paths-ignore:
            - '.github/**'
            - '.idea/**'
            - '.run/**'
            - '.vscode/**'
jobs:
    # Front-End-Type-Check:
    Front-End-Type-Check:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   name: Client App Install
                uses: ./.github/workflows/steps/client-app-install/
            -   name: Run Typescript type check
                run: bun run typecheck
                working-directory: src/WebAPI/ClientApp/
    # Front-End-Unit-Tests:
    Front-End-Unit-Tests:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   name: Client App Install
                uses: ./.github/workflows/steps/client-app-install/
            -   name: Run Vitest tests
                run: bun run test
                working-directory: src/WebAPI/ClientApp/
    Front-End-Eslint-Check:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   name: Client App Install
                uses: ./.github/workflows/steps/client-app-install/
            -   name: Run eslint check
                run: bun run lint
                working-directory: src/WebAPI/ClientApp/
    # Front-End-Integration-Tests:
    #  Front-End-Integration-Tests: TODO Tests keep randomly failing during CI, need to investigate
    #    defaults:
    #      run:
    #        working-directory: src/WebAPI/ClientApp/
    #    runs-on: ubuntu-latest
    #    strategy:
    #      fail-fast: false # https://github.com/cypress-io/github-action/issues/48
    #      matrix:
    #        containers: [1, 2] # Uses 2 parallel instances
    #    steps:
    #      - name: Checkout Source Code
    #        uses: actions/checkout@v3
    #      - name: Cypress tests
    #        uses: cypress-io/github-action@v5
    #        with:
    #          wait-on: 'http://localhost:3030'
    #          build: npm run build
    #          start: npm run cypress:ci
    #          command: npm run cypress:run
    #          record: true
    #          parallel: true
    #          browser: chrome
    #          headless: true
    #          timeout-minutes: 5
    #          working-directory: ./src/WebAPI/ClientApp/
    #        env:
    #          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
    #          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    # Back-End Unit Tests
    Back-End-Unit-Tests:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Source Code
                uses: actions/checkout@v4
            -   name: Dotnet Setup
                uses: ./.github/workflows/steps/dotnet-setup/
            -   name: Unit Tests
                run: dotnet test tests/UnitTests/UnitTests.sln --no-build --verbosity normal
    # Back-End Integration Tests
    Back-End-Integration-Tests:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Source Code
                uses: actions/checkout@v4
            -   name: Dotnet Setup
                uses: ./.github/workflows/steps/dotnet-setup/
            -   name: Integration Tests
                run: dotnet test tests/IntegrationTests/IntegrationTests.sln --no-build --verbosity normal
    # Ensure the Docker image can be built without errors
    Test-Docker-Build:
        needs: [ Front-End-Unit-Tests, Front-End-Type-Check, Front-End-Eslint-Check, Back-End-Unit-Tests, Back-End-Integration-Tests ]
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Source Code
                uses: actions/checkout@v4
            -   name: Test Docker Build
                uses: elgohr/Publish-Docker-Github-Action@v5
                with:
                    dockerfile: docker/Dockerfile
                    name: plexripper/plexripper
                    username: ${{ secrets.DOCKER_USERNAME }}
                    password: ${{ secrets.DOCKER_PASSWORD }}
                    platforms: linux/amd64,linux/arm64,linux/arm/v7
                    no_push: true
                    default_branch: dev

